export(ArticleExtractor)
export(ArticleSentencesExtractor)
export(CanolaExtractor)
export(DefaultExtractor)
export(Extractor)
export(KeepEverythingExtractor)
export(LargestContentExtractor)
export(NumWordsRulesExtractor)
importFrom(rJava,.jcall)
importFrom(rJava,.jnew)
importFrom(rJava,.jpackage)
